<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="Sobeys.ExcelAddIn.Installer" Language="1033" Version="2.0.0.0" Manufacturer="Fred" UpgradeCode="6abd0447-f7d4-4e3a-9ddc-4e074085a547">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perUser" />
		<MajorUpgrade Schedule="afterInstallInitialize" AllowDowngrades="yes" />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="Sobeys.ExcelAddIn.Installer" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentRef Id="Registry_FriendlyName" />
			<ComponentRef Id="Registry_Description" />
			<ComponentRef Id="Registry_Manifest" />
			<ComponentRef Id="Registry_LoadBehavior" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="AppDataFolder">
				<Directory Id="INSTALLFOLDER" Name="SobeysExcelAddIn" />
				<Component Id="Registry_FriendlyName">
					<RegistryValue Id="RegKey_FriendlyName" Root="HKCU"
								   Key="Software\Microsoft\Office\Excel\AddIns\Sobeys.ExcelAddIn"
								   Name="FriendlyName"
								   Value="Sobeys Excel Add-In"
								   Type="string" KeyPath="yes" />
				</Component>
				<Component Id="Registry_Description">
					<RegistryValue Id="RegKey_Description" Root="HKCU"
								   Key="Software\Microsoft\Office\Excel\AddIns\Sobeys.ExcelAddIn"
								   Name="Description"
								   Value="Sobeys Excel Add-In"
								   Type="string" KeyPath="yes" />
				</Component>
				<Component Id="Registry_Manifest">
					<RegistryValue Id="RegKey_Manifest" Root="HKCU"
								   Key="Software\Microsoft\Office\Excel\AddIns\Sobeys.ExcelAddIn"
								   Name="Manifest" Value="[INSTALLFOLDER]Sobeys.ExcelAddIn.vsto|vstolocal"
								   Type="string" KeyPath="yes" />
				</Component>
				<Component Id="Registry_LoadBehavior">
					<RegistryValue Id="RegKey_LoadBehavior" Root="HKCU"
								   Key="Software\Microsoft\Office\Excel\AddIns\Sobeys.ExcelAddIn"
								   Name="LoadBehavior" Value="3"
								   Type="integer" KeyPath="yes" />
				</Component>
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="Sobeys_ExcelAddIn_vsto_Component" Guid="EC348042-3147-49FC-8730-C2D65006F154">
				<RegistryKey Root="HKCU" Key="Software\Sobeys\AddIn">
					<RegistryValue Name="VstoFlag" Value="1" Type="string" KeyPath="yes" />
				</RegistryKey>
				<File Id="Sobeys_ExcelAddIn_vsto" Name="Sobeys.ExcelAddIn.vsto" Source="$(var.AddInFiles)" />
			</Component>
			<Component Id="Sobeys_ExcelAddIn_dll_manifest_Component" Guid="BE45DABC-B4C4-4147-8149-9498093957B3">
				<RegistryKey Root="HKCU" Key="Software\Sobeys\AddIn">
					<RegistryValue Name="ManifestFlag" Value="1" Type="string" KeyPath="yes" />
				</RegistryKey>
				<File Id="Sobeys_ExcelAddIn_dll_manifest" Name="Sobeys.ExcelAddIn.dll.manifest" Source="$(var.AddInFiles)" />
			</Component>
			<Component Id="MSOfficeToolsCommon_dll_Component" Guid="4CE92372-27CF-4DFB-B7CA-B083529525E2">
				<RegistryKey Root="HKCU" Key="Software\Sobeys\AddIn">
					<RegistryValue Name="MsToolsFlag" Value="1" Type="string" KeyPath="yes" />
				</RegistryKey>
				<File Id="MSOfficeToolsCommon_dll" Name="Microsoft.Office.Tools.Common.v4.0.Utilities.dll"
					  Source="$(var.AddInFiles)"></File>
			</Component>
			<Component Id="Sobeys_ExcelAddIn_dll_Component" Guid="F9771D12-982B-4F08-BA77-A946728C13D5">
				<RegistryKey Root="HKCU" Key="Software\Sobeys\AddIn">
					<RegistryValue Name="LibFlag" Value="1" Type="string" KeyPath="yes" />
				</RegistryKey>
				<File Id="Sobeys_ExcelAddIn_dll" Name="Sobeys.ExcelAddIn.dll" Source="$(var.AddInFiles)" />
				<RemoveFolder Id="RemoveINSTALLFOLDER" Directory="INSTALLFOLDER" On="uninstall" />
			</Component>
			<Component Id="Octokit_dll_Component" Guid="98440B8A-5B00-43D8-AAB3-D107AAC9BEF7">
				<RegistryKey Root="HKCU" Key="Software\Sobeys\AddIn">
					<RegistryValue Name="OctokitFlag" Value="1" Type="string" KeyPath="yes" />
				</RegistryKey>
				<File Id="Octokit_dll" Name="Octokit.dll" Source="$(var.AddInFiles)" />
			</Component>
			<Component Id="Octokit_xml_Component" Guid="4B5607D2-E7BE-45AE-89D4-167CA637C96A">
				<RegistryKey Root="HKCU" Key="Software\Sobeys\AddIn">
					<RegistryValue Name="OctokitXmlFlag" Value="1" Type="string" KeyPath="yes" />
				</RegistryKey>
				<File Id="Octokit_xml" Name="Octokit.xml" Source="$(var.AddInFiles)" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
